<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
           
            font-family: 'Courier New', monospace;
            font-color:forestgreen
        }
        ul.navbar-nav.ms-auto{
            background-color:black;
        }

        nav.navbar {
            background-color: black;
        }

        .nav-link {
            color: forestgreen;
            font-weight: 900;
            font-family: 'Courier New', monospace;
            font-size:20px;
        }

        .nav-link:hover {
            color: #601;
        }

        .navbar {
            background-color: #2d2d30;
            color: #ccc;
            font-family: 'Cascadia Mono', monospace;
            padding: 0;
            margin: 0;
            height: 35px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #3f3f46;
        }

            .navbar ul {
            display: flex;
             flex-direction:row;
            list-style: none;
            padding-left: 15px;
            margin: 0; }

            .navbar li {
            margin-right: 20px;
            cursor: pointer;
            font-size: 13px;
            padding: 8px 10px;
            flex: 1 1 auto;
        }
           

    </style>
</head>
<body class="@ViewData["BodyClass"]">
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <div class="nav-link">
                Sandra Leo 
                <a href="/assets/Resume.pdf" class="btn btn-dark btn-sm me-2" target="_blank">DownloadMyResume</a>
            </div>
           
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/About">WhoAmI?</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Projects">MyProjects</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Contact">ContactMe</a></li>
                </ul>
           
        </div>
    </nav>

    <div class="container mt-5">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    

</body>
</html>