@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}


<style>
    body {
 
 background:black;
  }


   


    .contact-container {
        font-family: 'Courier New', monospace;
       font-size:30px;
       overflow-wrap:break-word;
        font-weight: 600;
       margin-top:120px;
        color: mediumaquamarine;
    }

   

    .form-control {
        border-radius: 10px;
        padding: 12px;
    }

    .contact-container a {
        color: mediumaquamarine;
    }

    .contact-container a:hover {
            color: mediumseagreen;
    }
    .connect{
        margin-top:50px
    }
    .space{
        margin-bottom:150px
    }

    
</style>
<form class="bg">
<div class="contact-container">
    

        <div class="connect">
            <p>Email: sandraelizabethlk@gmail.com</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/sandra-leo-67aba8187/" target="_blank">sandra-leo</a></p>
        <p>GitHub: <a href="https://github.com/e-l-z-a" target="_blank">e-l-z-a</a></p>
        </div>
        

</div>
<div class="space"></div>
<footer>
    <p></p><p></p>
    <br />
    <p class="copyright">
        * While I may not meet every requirement listed in the job description,
        I’m a smart, fast learner who brings strong fundamentals, real project experience, and a proactive mindset.
        I’ve consistently adapted to new technologies and environments throughout my work,
        and I’m confident I can quickly come up to speed and contribute value to your team.
    </p>
</footer>
</form>
