@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}

<style>
    body {
        background-color: black;
    }

    .contact-container {
        max-width: 800px;
        margin: 80px auto;
        padding: 40px;
        background: white;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        font-family: 'Courier New', monospace;
        
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 25px;
        color: mediumseagreen;
    }

   

    .form-control {
        border-radius: 10px;
        padding: 12px;
    }

    .contact-container a {
        color: mediumseagreen;
    }

    .contact-container a:hover {
        color: mediumaquamarine;
    }

    
</style>
<form>
<div class="contact-container">
    

        <div class="connect">
            <p>Email: sandraelizabethlk@gmail.com</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/sandra-leo-67aba8187/" target="_blank">sandra-leo</a></p>
        <p>GitHub: <a href="https://github.com/e-l-z-a" target="_blank">e-l-z-a</a></p>
        </div>
        

</div>
<footer>
    <p></p><p></p>
    <br />
    <p class="copyright">
        * While I may not meet every requirement listed in the job description,
        I’m a smart, fast learner who brings strong fundamentals, real project experience, and a proactive mindset.
        I’ve consistently adapted to new technologies and environments throughout my work,
        and I’m confident I can quickly come up to speed and contribute value to your team.
    </p>
</footer>
</form>
