html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    .navbar ul {
        display: flex;
        gap:20px;
    }
    .menu-toggle{
        display:none;
    }
}
@media (max-width: 768px) {
    .contact-container {
        font-family: 'Courier New', monospace;
        font-size: 2rem;
        font-weight: 600;
    }
    .skill-card {
        width: 100%;
        min-height: 180px;
        background-color: red;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        transition: transform 0.3s ease;
        margin: 0 10px;
    }
    nav.navbar {
        background-color: black;
    }
    .navbar {
        flex-direction:row;
        align-items:flex-start;
    }
        .navbar ul {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touching;
            padding: 0;
            margin: 0;
            list-style: none;
            background-color: black;
        }
    .navbar li{
        flex:0 0 auto;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin: 0;
    padding: 0;
    color: white;
    transition: background 0.8s ease;
    min-height: 100vh;
}



.experience-info {
    display: flex;
    align-items: normal;
    justify-content: center;
    gap: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.grid-card {
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
   

    .grid-card i {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .grid-card span {
        font-size: 1.5rem;
        font-weight: 500;
       
        background-clip: text;
        color: transparent;
    }

